.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF2F9;
  height: 100vh;
}

.content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.trakto-logo {
  width: 125px;
  height: 30px;
}

.login-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #04183E;
  margin: 40px 0 24px;
}

.form-field {
  position: relative;
  margin-bottom: 24px;
}

.email-text,
.password-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #04183E;
  margin-bottom: 4px;
}

.email-input,
.password-input {
  width: 300px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #E4EBFB;
  background: #FFFFFF;
  padding: 16px;
}

.email-input:focus,
.password-input:focus {
  border: 1px solid #0095FF;
  outline: none;
}

.form-field:focus-within .email-text,
.form-field:focus-within .password-text {
  color: #0095FF;
}

.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  height: 48px;
  background-color: #1DC763;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
}

.spinner {
  border-top: 2px solid #ffffff;
  border-right: 2px solid transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.6s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

