<div class="container">
  <app-header [dark]="true"></app-header>
  <div class="modules-grid">
    <app-module
      moduleTitle="Material didático"
      moduleColor="#4173CD"
      moduleImage="material-didatico-module"
      (moduleClick)="goto('/trakto-edu')"
    ></app-module>
    <app-module
      moduleTitle="Quiz"
      moduleColor="#1DC763"
      moduleImage="quiz-module"
    ></app-module>
    <app-module
      moduleTitle="Desenho"
      moduleColor="#F6B5FF"
      moduleImage="desenho-module"
    ></app-module>
    <app-module
      moduleTitle="YouTube"
      moduleColor="#FF0000"
      moduleImage="youtube-module"
      (moduleClick)="goto('https://www.youtube.com/', true)"
    ></app-module>
  </div>
</div>
